{% load static %}

<header>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">    
    <div class="container">

      <div class="navbar-header">

        <a class="navbar-brand" href="{% url 'posts:index' %}">
          <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
          <span style="color:red">Ya</span>tube
        </a>

        <button class="navbar-toggler" type="button"
          data-toggle="collapse" 
          data-target="#navbarSupportedContent" 
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Переключатель навигации">
            <span class="navbar-toggler-icon"></span>
        </button> 
          </button>
        </button> 

      </div>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% with request.resolver_match.view_name as view_name %} 

          <ul class="navbar-nav mr-auto nav-pills">

            <li class="nav-item">
              <a class="nav-link {% if view_name  == 'about:author' %}active{% endif %}" 
                href="{% url 'about:author' %}">Об авторе</a>
            </li>

            <li class="nav-item">
              <a class="nav-link {% if view_name  == 'about:tech' %}active{% endif %}" 
                href="{% url 'about:tech' %}">Технологии</a>
            </li>

            {% if request.user.is_authenticated %}

              <li class="nav-item"> 
                <a class="nav-link" href="/create/">Новая запись</a>
              </li>

              <li class="nav-item"> 
                <a class="nav-link link-light {% if view_name  == 'users:user_profile' %}active{% endif %}" 
                  href="{% url 'users:user_profile' request.user.username %}">Профиль</a>
              </li>

              <li class="nav-item"> 
                <a class="nav-link link-light {% if view_name  == 'users:password_change_form' %}active{% endif %}" 
                  href="{% url 'users:password_change_form' %}">Изменить пароль</a>
              </li>

              <li class="nav-item"> 
                <a class="nav-link link-light" 
                  href="{% url 'users:logout' %}">Выйти</a>
              </li>

              <li class='position-absolute top-0 end-0'>
                <div class="badge bg-primary text-wrap" style="width: 20rem;">
                  <p>Пользователь: {{ user.username }}</p>
                </div>
              </li>

            {% else %}

              <li class="nav-item"> 
                <a class="nav-link link-light {% if view_name  == 'users:login' %}active{% endif %}" 
                href="{% url 'users:login' %}">Войти</a>
              </li>

              <li class="nav-item"> 
                <a class="nav-link link-light {% if view_name  == 'users:signup' %}active{% endif %}" 
                href="{% url 'users:signup' %}">Регистрация</a>
              </li>

            {% endif %}
            
          </ul>

        {% endwith %}       
      </div>

    </div>
  </nav>
</header>
