* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.claw-crane body, button {
  color: #f2f2f2;
  font: bold 1em/1.5 Comfortaa, sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.claw-crane body {
  background: #041644;
}

.machine {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0.25em;
  box-shadow: -0.25em 0 0 rgba(0, 0, 0, 0.25) inset, 0.25em 0 0 rgba(255, 255, 255, 0.2) inset, 0 3.5em 0 inset, -1em 0 0 inset, 0 -18em 0 inset, 1em 0 0 inset, 0 -22em 0 rgba(128, 128, 128, 0.3) inset;
  color: #0b46da;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  margin: 1.5em auto 1em auto;
  width: 18em;
  height: 34.5em;
}
.machine input {
  position: fixed;
  top: -1.5em;
  left: -1.5em;
}
.machine input:checked ~ .machine__btn {
  filter: brightness(75%);
  -webkit-filter: brightness(75%);
}
.machine input:checked ~ .machine__btn:nth-child(6) {
  animation: flash 1s 6s steps(1) infinite;
  visibility: hidden;
}
.machine input:checked ~ .machine__btn:nth-child(7) {
  animation: disappear 1s 5s steps(1) forwards;
  visibility: visible;
}
.machine input:checked ~ .machine__btn:nth-child(n+2):nth-child(-n+5):active ~ .machine__window .machine__crane-z {
  transform: translateZ(-11.49em);
}
.machine input:checked ~ .machine__btn:nth-child(n+2):nth-child(-n+5):active ~ .machine__window .machine__crane-x {
  transform: translateX(0.01em);
}
.machine input:checked ~ .machine__btn:nth-child(n+2):nth-child(-n+5):active ~ .machine__window .machine__crane-claw {
  animation-name: swingClaw2;
  animation-duration: 0s;
}
.machine input:checked ~ .machine__window .machine__crane-z, .machine input:checked ~ .machine__window .machine__crane-x {
  transition: transform 2s 2.75s linear;
}
.machine input:checked ~ .machine__window .machine__crane-z {
  transform: translateZ(-11.49em);
}
.machine input:checked ~ .machine__window .machine__crane-x {
  transform: translateX(0.01em);
}
.machine input:checked ~ .machine__window .machine__crane-arm, .machine input:checked ~ .machine__window .machine__crane-claw, .machine input:checked ~ .machine__window .machine__crane-claw .machine__prize, .machine input:checked ~ .machine__window .machine__crane-finger, .machine input:checked ~ .machine__window .machine__crane-palm {
  animation-duration: 5s;
}
.machine input:checked ~ .machine__window .machine__crane-arm, .machine input:checked ~ .machine__window .machine__crane-claw, .machine input:checked ~ .machine__window .machine__crane-finger, .machine input:checked ~ .machine__window .machine__crane-palm {
  animation-timing-function: linear;
}
.machine input:checked ~ .machine__window .machine__crane-arm {
  animation-name: lowerArm;
}
.machine input:checked ~ .machine__window .machine__crane-claw {
  animation-name: swingClaw2;
}
.machine input:checked ~ .machine__window .machine__crane-claw .machine__prize {
  animation-name: liftPrize;
  animation-timing-function: ease-in;
}
.machine input:checked ~ .machine__window .machine__crane-finger:first-child {
  animation-name: grabA;
}
.machine input:checked ~ .machine__window .machine__crane-finger:nth-child(2) {
  animation-name: grabB;
}
.machine input:checked ~ .machine__window .machine__crane-finger:nth-child(3) {
  animation-name: grabC;
}
.machine input:checked ~ .machine__window .machine__crane-palm {
  animation-name: raisePalm;
}
.machine input:focus ~ .machine__btn:nth-child(6) {
  filter: brightness(125%);
  -webkit-filter: brightness(125%);
}
.machine, .machine__btn, .machine__window, .machine__crane-z, .machine__crane-claw {
  position: relative;
}
.machine__roof, .machine__window {
  width: 16rem;
}
.machine__roof, .machine__btn span {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.machine__btn {
  background: #5583f6;
  border-radius: 50%;
  box-shadow: 0 0.375em 0 #255ff4;
  color: #171717;
  cursor: pointer;
  display: block;
  margin: 0 0.125em;
  width: 3em;
  height: 2.25em;
  z-index: 1;
}
.machine__btn:active {
  box-shadow: 0 0 0 #255ff4;
  transform: translateY(0.375em);
}
.machine__btn:active ~ .machine__window .machine__crane-z, .machine__btn:active ~ .machine__window .machine__crane-x {
  transition: transform 2s linear;
}
.machine__btn:focus {
  filter: brightness(125%);
  -webkit-filter: brightness(125%);
  outline: transparent;
}
.machine__btn--red {
  background: #f45757;
  box-shadow: 0 0.375em 0 #f22626;
}
.machine__btn--red:active {
  box-shadow: 0 0 0 #f22626;
}
.machine__btn:nth-child(7), .machine__btn span {
  position: absolute;
}
.machine__btn:nth-child(7) {
  top: 17.5em;
  right: 0.875em;
  visibility: hidden;
}
.machine__btn span {
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.machine__btn:nth-child(2):active ~ .machine__window .machine__crane-claw, .machine__btn:nth-child(4):active ~ .machine__window .machine__crane-claw {
  animation: swingClaw1 1s linear infinite reverse;
}
.machine__btn:nth-child(3):active ~ .machine__window .machine__crane-claw, .machine__btn:nth-child(5):active ~ .machine__window .machine__crane-claw {
  animation: swingClaw1 1s linear infinite;
}
.machine__btn:nth-child(2):active ~ .machine__window .machine__crane-x {
  transform: translateX(0.01em);
}
.machine__btn:nth-child(3):active ~ .machine__window .machine__crane-x {
  transform: translateX(11.5em);
}
.machine__btn:nth-child(4):active ~ .machine__window .machine__crane-z {
  transform: translateZ(-11.49em);
}
.machine__btn:nth-child(5):active ~ .machine__window .machine__crane-z {
  transform: translateZ(-0.01em);
}
.machine__roof {
  background: #f2b926;
  color: #3c2c01;
  cursor: default;
  font-size: 1.25em;
  height: 2rem;
  margin: 0.75rem;
  padding-top: 0.2rem;
  order: -2;
}
.machine__window {
  box-shadow: 0.25em 0 0 rgba(255, 255, 255, 0.2), -0.25em 0 0 rgba(0, 0, 0, 0.25);
  height: 13em;
  order: -1;
  overflow: hidden;
  margin-bottom: 1em;
  perspective: 40em;
  z-index: -1;
}
.machine__crane-finger, .machine__crane-palm, .machine__prizes, .machine__prize {
  position: absolute;
}
.machine__crane-z, .machine__crane-x {
  transition: transform 10000s linear;
}
.machine__crane-z {
  left: 0.75em;
  transform: translateZ(-11.5em);
  z-index: -3;
}
.machine__crane-x {
  width: 3em;
  height: 14em;
  transform: translateX(0);
}
.machine__crane-arm {
  background: linear-gradient(#969696, #969696) 50% 0/0.25em 100%;
  margin: auto;
  width: 100%;
  height: 8em;
  transform: translateY(-8em);
}
.machine__crane-claw {
  background: linear-gradient(#969696, #969696) 50% 1em/1.5em 0.25em, linear-gradient(-80deg, rgba(150, 150, 150, 0) 38%, #969696 41% 64%, rgba(150, 150, 150, 0) 67%) 0.25em 1em/1em 2em, linear-gradient(80deg, rgba(150, 150, 150, 0) 38%, #969696 41% 64%, rgba(150, 150, 150, 0) 67%) 1.75em 1em/1em 2em, linear-gradient(#636363, #636363) 50% 0/1em 0.75em, linear-gradient(#575757, #575757) 50% 0.75em/0.75em 1.5em, linear-gradient(#969696, #969696) 50% 2.25em/0.5em 0.5em;
  transform-origin: 50% 0;
  top: 8em;
  width: 100%;
  height: 6em;
}
.machine__crane-arm, .machine__crane-claw {
  background-repeat: no-repeat;
}
.machine__crane-finger {
  color: #969696;
  top: 3em;
  width: 1.5em;
  height: 3em;
}
.machine__crane-finger:first-child, .machine__crane-finger:nth-child(3) {
  border-top: 0.25em solid;
}
.machine__crane-finger:first-child {
  border-radius: 100% 0 0 100%/35% 0 0 50%;
  border-left: 0.5em solid;
  left: 0;
  transform: rotate(30deg);
  transform-origin: 100% 0;
}
.machine__crane-finger:nth-child(2) {
  background: #7d7d7d;
  border-radius: 0 0 50% 50%/0 0 100% 100%;
  left: calc(50% - 0.25em);
  width: 0.5em;
  transform: scaleY(0.67);
  transform-origin: 50% 0;
}
.machine__crane-finger:nth-child(3) {
  border-radius: 0 100% 100% 0/0 35% 50% 0;
  border-right: 0.5em solid;
  right: 0;
  transform: rotate(-30deg);
  transform-origin: 0 0;
}
.machine__crane-palm {
  background: #a3a3a3;
  border-radius: 0.25em;
  top: 2.75em;
  left: calc(50% - 0.625em);
  width: 1.25em;
  height: 0.5em;
}
.machine__prizes {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.machine__prizes .machine__prize {
  opacity: 1;
}
.machine__prizes .machine__prize:nth-child(1) {
  background: #5ed52a;
  top: 8.9em;
  left: 13em;
}
.machine__prizes .machine__prize:nth-child(2) {
  background: #d5522a;
  top: 11em;
  left: 13.2em;
}
.machine__prizes .machine__prize:nth-child(3) {
  background: #772ad5;
  top: 9.9em;
  left: 5.6em;
}
.machine__prizes .machine__prize:nth-child(4) {
  background: #62d52a;
  top: 11.1em;
  left: 9.7em;
}
.machine__prizes .machine__prize:nth-child(5) {
  background: #2ad54e;
  top: 8.4em;
  left: 4.7em;
}
.machine__prizes .machine__prize:nth-child(6) {
  background: #a0d52a;
  top: 8.1em;
  left: 5.8em;
}
.machine__prizes .machine__prize:nth-child(7) {
  background: #d5a52a;
  top: 9.2em;
  left: 12.8em;
}
.machine__prizes .machine__prize:nth-child(8) {
  background: #d5702a;
  top: 10.1em;
  left: 8em;
}
.machine__prizes .machine__prize:nth-child(9) {
  background: #d5b92a;
  top: 10.9em;
  left: 13.1em;
}
.machine__prizes .machine__prize:nth-child(10) {
  background: #2ad5c6;
  top: 11.2em;
  left: 13.4em;
}
.machine__prizes .machine__prize:nth-child(11) {
  background: #d56f2a;
  top: 9.2em;
  left: 11.5em;
}
.machine__prizes .machine__prize:nth-child(12) {
  background: #2ab6d5;
  top: 8.8em;
  left: 7.9em;
}
.machine__prizes .machine__prize:nth-child(13) {
  background: #49d52a;
  top: 10.1em;
  left: 0.6em;
}
.machine__prizes .machine__prize:nth-child(14) {
  background: #d5412a;
  top: 9.7em;
  left: 12em;
}
.machine__prizes .machine__prize:nth-child(15) {
  background: #2ab5d5;
  top: 10.9em;
  left: 3em;
}
.machine__prizes .machine__prize:nth-child(16) {
  background: #d52a42;
  top: 9.1em;
  left: 13.2em;
}
.machine__prizes .machine__prize:nth-child(17) {
  background: #4c2ad5;
  top: 11.3em;
  left: 3.4em;
}
.machine__prizes .machine__prize:nth-child(18) {
  background: #d5582a;
  top: 9em;
  left: 13.7em;
}
.machine__prizes .machine__prize:nth-child(19) {
  background: #2a30d5;
  top: 11.1em;
  left: 11.2em;
}
.machine__prizes .machine__prize:nth-child(20) {
  background: #83d52a;
  top: 9.8em;
  left: 3.2em;
}
.machine__prizes .machine__prize:nth-child(21) {
  background: #d52a80;
  top: 11.3em;
  left: 10.4em;
}
.machine__prizes .machine__prize:nth-child(22) {
  background: #2ad588;
  top: 9.3em;
  left: 13.3em;
}
.machine__prizes .machine__prize:nth-child(23) {
  background: #79d52a;
  top: 11.3em;
  left: 13.2em;
}
.machine__prizes .machine__prize:nth-child(24) {
  background: #85d52a;
  top: 8.7em;
  left: 1.8em;
}
.machine__prizes .machine__prize:nth-child(25) {
  background: #d5af2a;
  top: 8.4em;
  left: 8.8em;
}
.machine__prizes .machine__prize:nth-child(26) {
  background: #d5cb2a;
  top: 11em;
  left: 7em;
}
.machine__prizes .machine__prize:nth-child(27) {
  background: #2ad54b;
  top: 8.4em;
  left: 4.5em;
}
.machine__prizes .machine__prize:nth-child(28) {
  background: #d52a9d;
  top: 11.7em;
  left: 8.7em;
}
.machine__prizes .machine__prize:nth-child(29) {
  background: #41d52a;
  top: 10.8em;
  left: 4.9em;
}
.machine__prizes .machine__prize:nth-child(30) {
  background: #4fd52a;
  top: 9.9em;
  left: 13.3em;
}
.machine__prizes .machine__prize:nth-child(31) {
  background: #2a91d5;
  top: 11.6em;
  left: 2.1em;
}
.machine__prizes .machine__prize:nth-child(32) {
  background: #2ad562;
  top: 10.6em;
  left: 8.7em;
}
.machine__prizes .machine__prize:nth-child(33) {
  background: #2ad592;
  top: 8.5em;
  left: 3.5em;
}
.machine__prizes .machine__prize:nth-child(34) {
  background: #2a9fd5;
  top: 8.9em;
  left: 1.6em;
}
.machine__prizes .machine__prize:nth-child(35) {
  background: #2a93d5;
  top: 10.8em;
  left: 6.3em;
}
.machine__prizes .machine__prize:nth-child(36) {
  background: #d5862a;
  top: 11.3em;
  left: 5.1em;
}
.machine__prizes .machine__prize:nth-child(37) {
  background: #2ad57b;
  top: 8.5em;
  left: 2.9em;
}
.machine__prizes .machine__prize:nth-child(38) {
  background: #2aa5d5;
  top: 9.8em;
  left: 7.3em;
}
.machine__prizes .machine__prize:nth-child(39) {
  background: #452ad5;
  top: 11.2em;
  left: 13.7em;
}
.machine__prizes .machine__prize:nth-child(40) {
  background: #d52ab6;
  top: 10.8em;
  left: 2.1em;
}
.machine__prizes .machine__prize:nth-child(41) {
  background: #2ad56c;
  top: 10.6em;
  left: 1.5em;
}
.machine__prizes .machine__prize:nth-child(42) {
  background: #d52a76;
  top: 11.1em;
  left: 11.9em;
}
.machine__prizes .machine__prize:nth-child(43) {
  background: #d5332a;
  top: 9.9em;
  left: 4.1em;
}
.machine__prizes .machine__prize:nth-child(44) {
  background: #d52a8b;
  top: 9em;
  left: 7.1em;
}
.machine__prizes .machine__prize:nth-child(45) {
  background: #d5602a;
  top: 10.5em;
  left: 10.6em;
}
.machine__prizes .machine__prize:nth-child(46) {
  background: #59d52a;
  top: 9.1em;
  left: 4em;
}
.machine__prizes .machine__prize:nth-child(47) {
  background: #9ed52a;
  top: 9.1em;
  left: 0.3em;
}
.machine__prizes .machine__prize:nth-child(48) {
  background: #952ad5;
  top: 11.1em;
  left: 9.3em;
}
.machine__prizes .machine__prize:nth-child(49) {
  background: #d52a86;
  top: 8.8em;
  left: 4.5em;
}
.machine__prizes .machine__prize:nth-child(50) {
  background: #d57c2a;
  top: 10.9em;
  left: 8.9em;
}
.machine__prizes .machine__prize:nth-child(51) {
  background: #acd52a;
  top: 9.9em;
  left: 13.8em;
}
.machine__prizes .machine__prize:nth-child(52) {
  background: #2ad5b0;
  top: 11.5em;
  left: 1.2em;
}
.machine__prizes .machine__prize:nth-child(53) {
  background: #83d52a;
  top: 10.3em;
  left: 5.2em;
}
.machine__prizes .machine__prize:nth-child(54) {
  background: #a9d52a;
  top: 11.6em;
  left: 12.4em;
}
.machine__prizes .machine__prize:nth-child(55) {
  background: #c32ad5;
  top: 11.9em;
  left: 4.8em;
}
.machine__prizes .machine__prize:nth-child(56) {
  background: #31d52a;
  top: 11em;
  left: 4.5em;
}
.machine__prizes .machine__prize:nth-child(57) {
  background: #2a76d5;
  top: 9em;
  left: 5.5em;
}
.machine__prizes .machine__prize:nth-child(58) {
  background: #95d52a;
  top: 10.3em;
  left: 3.6em;
}
.machine__prizes .machine__prize:nth-child(59) {
  background: #92d52a;
  top: 10.5em;
  left: 6.8em;
}
.machine__prizes .machine__prize:nth-child(60) {
  background: #d52a71;
  top: 8em;
  left: 6em;
}
.machine__prizes:nth-child(3) {
  z-index: -4;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(1) {
  background: #2a5cd5;
  top: 8.6em;
  left: 0.6em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(2) {
  background: #57d52a;
  top: 9.2em;
  left: 2.5em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(3) {
  background: #d5be2a;
  top: 9.6em;
  left: 10.9em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(4) {
  background: #2ad584;
  top: 8.2em;
  left: 8.2em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(5) {
  background: #d57a2a;
  top: 10.8em;
  left: 1.1em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(6) {
  background: #89d52a;
  top: 10.4em;
  left: 3.6em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(7) {
  background: #d52a72;
  top: 8.7em;
  left: 6.1em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(8) {
  background: #632ad5;
  top: 11.8em;
  left: 4.8em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(9) {
  background: #2a55d5;
  top: 11.8em;
  left: 13.2em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(10) {
  background: #d52a8a;
  top: 8.8em;
  left: 7.8em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(11) {
  background: #be2ad5;
  top: 8em;
  left: 9.6em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(12) {
  background: #d52a47;
  top: 9.1em;
  left: 5.9em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(13) {
  background: #2a2fd5;
  top: 12em;
  left: 1.5em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(14) {
  background: #d52aca;
  top: 8.5em;
  left: 8.9em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(15) {
  background: #2ad54e;
  top: 9.6em;
  left: 8.8em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(16) {
  background: #2a84d5;
  top: 9.5em;
  left: 3.8em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(17) {
  background: #2ad54c;
  top: 8.9em;
  left: 2.4em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(18) {
  background: #d5862a;
  top: 9.9em;
  left: 12.1em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(19) {
  background: #d52a69;
  top: 9.5em;
  left: 11.6em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(20) {
  background: #d52a5f;
  top: 11.5em;
  left: 0.6em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(21) {
  background: #d52c2a;
  top: 9.3em;
  left: 2.1em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(22) {
  background: #b82ad5;
  top: 9.2em;
  left: 8.2em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(23) {
  background: #d5b62a;
  top: 9.5em;
  left: 8em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(24) {
  background: #2a95d5;
  top: 8.7em;
  left: 2.6em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(25) {
  background: #962ad5;
  top: 9.6em;
  left: 5.8em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(26) {
  background: #d52a62;
  top: 8.8em;
  left: 9.6em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(27) {
  background: #71d52a;
  top: 10.9em;
  left: 10.6em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(28) {
  background: #7e2ad5;
  top: 9em;
  left: 4.2em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(29) {
  background: #d55b2a;
  top: 11.5em;
  left: 2em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(30) {
  background: #9d2ad5;
  top: 9.2em;
  left: 0.1em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(31) {
  background: #d5702a;
  top: 8.6em;
  left: 9.4em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(32) {
  background: #2a7bd5;
  top: 10.8em;
  left: 12.1em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(33) {
  background: #d5562a;
  top: 9.9em;
  left: 4.2em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(34) {
  background: #632ad5;
  top: 10.8em;
  left: 8.7em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(35) {
  background: #2aa5d5;
  top: 10.6em;
  left: 0.1em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(36) {
  background: #d5432a;
  top: 9.7em;
  left: 13.7em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(37) {
  background: #a52ad5;
  top: 9.8em;
  left: 11.8em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(38) {
  background: #2a45d5;
  top: 11.2em;
  left: 7.2em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(39) {
  background: #d5652a;
  top: 8.4em;
  left: 8em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(40) {
  background: #2abed5;
  top: 10.6em;
  left: 1.1em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(41) {
  background: #2a2dd5;
  top: 8.1em;
  left: 0.4em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(42) {
  background: #5b2ad5;
  top: 10.4em;
  left: 2em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(43) {
  background: #d52ab3;
  top: 9.1em;
  left: 13.6em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(44) {
  background: #3f2ad5;
  top: 10.6em;
  left: 0.3em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(45) {
  background: #2ad1d5;
  top: 11.3em;
  left: 6.7em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(46) {
  background: #2ad547;
  top: 10.5em;
  left: 6.1em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(47) {
  background: #2a69d5;
  top: 8.2em;
  left: 11.8em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(48) {
  background: #892ad5;
  top: 10.6em;
  left: 9em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(49) {
  background: #5c2ad5;
  top: 9.5em;
  left: 7.1em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(50) {
  background: #d5a62a;
  top: 10em;
  left: 4em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(51) {
  background: #2a76d5;
  top: 8.2em;
  left: 8.2em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(52) {
  background: #d52a2e;
  top: 10.9em;
  left: 3.2em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(53) {
  background: #d52aa9;
  top: 11.5em;
  left: 4.5em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(54) {
  background: #a0d52a;
  top: 8.7em;
  left: 2.2em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(55) {
  background: #d52a73;
  top: 11.2em;
  left: 7.8em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(56) {
  background: #a9d52a;
  top: 9.8em;
  left: 7.6em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(57) {
  background: #acd52a;
  top: 8.5em;
  left: 4.6em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(58) {
  background: #d5692a;
  top: 10.5em;
  left: 11.6em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(59) {
  background: #2ad566;
  top: 8.6em;
  left: 12.5em;
}
.machine__prizes:nth-child(3) .machine__prize:nth-child(60) {
  background: #d5312a;
  top: 9.3em;
  left: 11.1em;
}
.machine__prizes:nth-child(4) {
  transform: translateZ(-4em);
  z-index: -5;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(1) {
  background: #2ad5a3;
  top: 10.8em;
  left: 11.1em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(2) {
  background: #d52a57;
  top: 11.7em;
  left: 9.9em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(3) {
  background: #d52ab5;
  top: 8.5em;
  left: 4.7em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(4) {
  background: #d5a92a;
  top: 8.1em;
  left: 7.4em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(5) {
  background: #2ad5c7;
  top: 8.3em;
  left: 4.1em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(6) {
  background: #2ad560;
  top: 10.8em;
  left: 13.5em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(7) {
  background: #d5382a;
  top: 9.9em;
  left: 13.4em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(8) {
  background: #8ed52a;
  top: 9.5em;
  left: 6.2em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(9) {
  background: #9ed52a;
  top: 9em;
  left: 2.9em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(10) {
  background: #2aacd5;
  top: 8.1em;
  left: 13.1em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(11) {
  background: #2d2ad5;
  top: 9.3em;
  left: 1.5em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(12) {
  background: #d52f2a;
  top: 9.7em;
  left: 8.3em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(13) {
  background: #2acdd5;
  top: 8em;
  left: 3.1em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(14) {
  background: #d52a31;
  top: 10em;
  left: 10.4em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(15) {
  background: #2ad599;
  top: 11.9em;
  left: 13.1em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(16) {
  background: #7f2ad5;
  top: 11.6em;
  left: 0.1em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(17) {
  background: #2aa5d5;
  top: 8.2em;
  left: 12.5em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(18) {
  background: #2ab6d5;
  top: 9.7em;
  left: 12.4em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(19) {
  background: #d52aa7;
  top: 10.9em;
  left: 1.4em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(20) {
  background: #822ad5;
  top: 11.7em;
  left: 3.8em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(21) {
  background: #52d52a;
  top: 8.3em;
  left: 3em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(22) {
  background: #d52a34;
  top: 11.7em;
  left: 9.5em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(23) {
  background: #352ad5;
  top: 10.3em;
  left: 8.2em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(24) {
  background: #2ad598;
  top: 10.5em;
  left: 4.6em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(25) {
  background: #cdd52a;
  top: 10.1em;
  left: 13.6em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(26) {
  background: #2ac9d5;
  top: 9.3em;
  left: 1.4em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(27) {
  background: #d5602a;
  top: 11.6em;
  left: 0.7em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(28) {
  background: #2aa5d5;
  top: 8.2em;
  left: 6.8em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(29) {
  background: #91d52a;
  top: 9.9em;
  left: 1.2em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(30) {
  background: #2a9bd5;
  top: 11.4em;
  left: 12.9em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(31) {
  background: #602ad5;
  top: 10.3em;
  left: 11.9em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(32) {
  background: #2a8ad5;
  top: 10.4em;
  left: 5.9em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(33) {
  background: #d52a51;
  top: 11.4em;
  left: 9.7em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(34) {
  background: #2aa2d5;
  top: 11.8em;
  left: 3.7em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(35) {
  background: #d52a63;
  top: 8.9em;
  left: 0.2em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(36) {
  background: #2a5ad5;
  top: 11.8em;
  left: 7em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(37) {
  background: #d57b2a;
  top: 8.1em;
  left: 5.5em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(38) {
  background: #2ad5d5;
  top: 11.7em;
  left: 12em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(39) {
  background: #2ad5ae;
  top: 10.4em;
  left: 10.7em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(40) {
  background: #d52a2a;
  top: 12em;
  left: 11.4em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(41) {
  background: #d52acc;
  top: 10.8em;
  left: 3.1em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(42) {
  background: #702ad5;
  top: 11.6em;
  left: 0.8em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(43) {
  background: #2ad532;
  top: 8.4em;
  left: 1.6em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(44) {
  background: #d52aa0;
  top: 10.5em;
  left: 8.9em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(45) {
  background: #2ad5b7;
  top: 9.8em;
  left: 10.9em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(46) {
  background: #d52a75;
  top: 8.2em;
  left: 5.1em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(47) {
  background: #2ad53a;
  top: 8.9em;
  left: 8.7em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(48) {
  background: #d54b2a;
  top: 9.3em;
  left: 6.6em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(49) {
  background: #452ad5;
  top: 9.1em;
  left: 1.8em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(50) {
  background: #d52a80;
  top: 11.1em;
  left: 2.7em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(51) {
  background: #2ad5bc;
  top: 11.1em;
  left: 9.1em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(52) {
  background: #d52aa6;
  top: 11em;
  left: 12.6em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(53) {
  background: #2ac1d5;
  top: 10.4em;
  left: 13.1em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(54) {
  background: #2a33d5;
  top: 10.9em;
  left: 4.7em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(55) {
  background: #d5cf2a;
  top: 11.1em;
  left: 13.1em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(56) {
  background: #2ad54f;
  top: 11.7em;
  left: 10.8em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(57) {
  background: #2ad542;
  top: 10.2em;
  left: 0.7em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(58) {
  background: #d52a60;
  top: 9.6em;
  left: 11.5em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(59) {
  background: #34d52a;
  top: 10em;
  left: 5.1em;
}
.machine__prizes:nth-child(4) .machine__prize:nth-child(60) {
  background: #d5602a;
  top: 9.1em;
  left: 1.1em;
}
.machine__prize {
  background: #50d52a;
  border-radius: 50%;
  box-shadow: -0.25em -0.25em 0 rgba(0, 0, 0, 0.25) inset;
  opacity: 0;
  top: calc(100% - 2em);
  left: calc(50% - 1em);
  width: 2em;
  height: 2em;
}
.machine__op-area {
  background: linear-gradient(90deg, black 0.25em, transparent 0.25em 0.5em, #806114 0.5em 1em, transparent 1em 7.5em, black 7.5em 7.75em, transparent 7.75em 8em, #806114 8em) 50% 5.25em/8.5em 1em, linear-gradient(90deg, #242424 1.5em, transparent 1.5em 7.5em, #242424 7.5em) 50% 5em/9em 1.5em, linear-gradient(90deg, #3d3d3d 1em, transparent 1em 7.5em, #3d3d3d 7.5em) 50% 7.5em/8.5em 1em, linear-gradient(90deg, #242424 1.5em, transparent 1.5em 7.5em, #242424 7.5em) 50% 7.25em/9em 1.5em;
  background-repeat: no-repeat;
  margin: -2.25em 0.5em 1em 0.5em;
  width: 17em;
  height: 12em;
}
.machine__op-area, .machine__op-area:before {
  border-top: 1.5em solid #f2b926;
  border-right: 0.25em solid rgba(0, 0, 0, 0.25);
  border-bottom: 1em solid rgba(0, 0, 0, 0.3);
  border-left: 0.25em solid rgba(255, 255, 255, 0.2);
}
.machine__op-area:before {
  content: "";
  display: block;
  margin: auto;
  height: 1.5em;
}
.machine__prize-door, .machine__vents {
  width: 3em;
  height: 3em;
}
.machine__prize-door {
  background: #969696;
  border-radius: 0.375em;
  box-shadow: 0.125em 0.125em 0 rgba(0, 0, 0, 0.55) inset;
  margin: 0 auto 0 1.5em;
}
.machine__vents {
  background: radial-gradient(100% 100% at center, black 33%, transparent 35%) 0 0/25% 25%;
  margin: 0 auto 0 0;
}
.machine__feet {
  background: linear-gradient(90deg, #a3a3a3 2em, transparent 2em 15em, #a3a3a3 15em) 0 100%/100% 50%, linear-gradient(90deg, transparent 0.5em, #969696 0.5em 1.5em, transparent 1.5em 15.5em, #969696 15.5em 16.5em, transparent 16.5em);
  background-repeat: no-repeat;
  position: absolute;
  top: 100%;
  left: 0.5em;
  width: 17em;
  height: 1em;
}

/* Button labels */
.right-arrow, .down-arrow, .left-arrow, .up-arrow {
  width: 0;
  height: 0;
}

.right-arrow {
  border-top: 0.5em solid transparent;
  border-bottom: 0.5em solid transparent;
  border-left: 1em solid;
}

.down-arrow {
  border-top: 0.75em solid;
  border-right: 0.75em solid transparent;
  border-left: 0.75em solid transparent;
}

.left-arrow {
  border-top: 0.5em solid transparent;
  border-right: 1em solid;
  border-bottom: 0.5em solid transparent;
}

.up-arrow {
  border-right: 0.75em solid transparent;
  border-bottom: 0.75em solid;
  border-left: 0.75em solid transparent;
}

.sr {
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  width: 1px;
  height: 1px;
}

/* Animation */
@keyframes lowerArm {
  from, 50%, to {
    transform: translateY(-8em);
  }
  20%, 30% {
    transform: translateY(-2em);
  }
}
@keyframes swingClaw1 {
  from, to {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
}
@keyframes swingClaw2 {
  from, 20%, 30%, 50%, to {
    transform: rotate(0deg);
  }
  5%, 35% {
    transform: rotate(5deg);
  }
  15%, 45% {
    transform: rotate(-5deg);
  }
}
@keyframes grabA {
  from, 20%, to {
    transform: translateY(0) rotate(30deg);
  }
  25%, 95% {
    transform: translateY(-0.5em) rotate(0);
  }
}
@keyframes grabB {
  from, 20%, to {
    transform: translateY(0) scaleY(0.67);
  }
  25%, 95% {
    transform: translateY(-0.5em) scaleY(1);
  }
}
@keyframes grabC {
  from, 20%, to {
    transform: translateY(0) rotate(-30deg);
  }
  25%, 95% {
    transform: translateY(-0.5em) rotate(0);
  }
}
@keyframes raisePalm {
  from, 20%, to {
    transform: translateY(0);
  }
  25%, 95% {
    transform: translateY(-0.5em);
  }
}
@keyframes liftPrize {
  from, 20% {
    opacity: 0;
    transform: translate(0, 0);
  }
  20.1% {
    opacity: 1;
    transform: translate(0, 0);
  }
  25%, 45% {
    opacity: 1;
    transform: translate(0, -0.75em);
  }
  50% {
    opacity: 1;
    transform: translate(-0.125em, 6em);
  }
  50.1%, to {
    opacity: 0;
    transform: translate(-0.125em, 6em);
  }
}
@keyframes disappear {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
@keyframes flash {
  from, to {
    visibility: visible;
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
  }
  50% {
    visibility: visible;
    filter: brightness(75%);
    -webkit-filter: brightness(75%);
  }
}