{% regroup post_list by group as group_list %}
{% load static %}
{% load thumbnail %}

{% block style %}  
  <link rel="stylesheet" href="{% static 'css/hover-effects.css' %}">
  <link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock %}


<ul>
{% for group in group_list %}
  <div class="search-font">
    <li>{{ group.grouper|center:"15" }}
    {% thumbnail group.grouper.image "960x150" crop="center" upscale=True as im %}
      <img class="card-img my-2" src="{{ im.url }}">
    {% endthumbnail %}
  </div>
    <ul>
        {% for post in group.list %}
          <li class="my-3">
            <a class="text_search" href="{% url 'posts:post_detail' post.pk %}">
            {{ post.text|slice:":200" }} ... 
            </a>
          </li>
        {% endfor %}
    </ul>
    </li>
{% endfor %}
</ul>


<a class="dribbble" href="https://dribbble.com/shots/7441241-Button-Hover-Effects" target="_blank">
<img src="https://cdn.dribbble.com/assets/dribbble-ball-mark-2bd45f09c2fb58dbbfb44766d5d1d07c5a12972d602ef8b32204d28fa3dda554.svg" alt=""></a>

{% block javascript %}
  <script  src="{% static 'js/script.js' %}"></script>
{% endblock %}
