<div class="hover-effects">
  <div class="card">
    <div class="card-body">
      <form class="form-inline" action="{% url 'posts:search' %}" class="navbar-form navbar-left" method="get">
        <div class="form-row">
          <input name="q" class="form-control form-control-lg" type="search" 
            placeholder="Поиск в постах"
            {% if keyword %} value="{{ keyword }}"{% endif %}>
            <br>
          <button class="button" type="submit">Search</button>
        </div>
      </form>
    </div>
  </div>
</div>

<br><br>