{% load static %}

{% block style %}  
  <link rel="stylesheet" href="{% static 'css/hover-effects.css' %}">
  <link rel="stylesheet" href="{% static 'css/thinking-hand.css' %}">
{% endblock %}


<div class="hand">
  <span class="finger thumb"></span>
  <span class="finger"></span>
  <span class="finger"></span>
  <span class="finger"></span>
  <span class="finger"></span>
  <span class="palm"></span>    
</div>

<h1 class="title">Ничего не найдено, попробуйте ввести что-то другое...</h1>


<a class="dribbble" href="https://dribbble.com/shots/7441241-Button-Hover-Effects" target="_blank"><img src="https://cdn.dribbble.com/assets/dribbble-ball-mark-2bd45f09c2fb58dbbfb44766d5d1d07c5a12972d602ef8b32204d28fa3dda554.svg" alt=""></a>
<script  src="{% static 'js/script.js' %}"></script>
