{% extends 'base.html' %}
{% load thumbnail %}
{% load user_filters %}
{% block content %}

    <div class="header-bar">
      <a href="{% url 'posts:profile' user.username %}"> К моим постам</a>    
    </div>

    <div class="card-body">
      
          <form method="post"
          enctype="multipart/form-data"
          action="{% url 'users:user_profile' user.username %}">
              
            {% csrf_token %}

            {% for field in form %}
              <div class="form-group row my-3 p-3">

                <label for="{{ field.text.id_for_label }}">                  
                  {{ field.label }}
                  {% if field.field.required %}
                    <span class="reqired text-danger">*</span>
                  {% endif %}

                  {% if field.name == 'avatar' %}
                    <div class="row"> 
                      <div class="col-md-2">
                        {% thumbnail user.avatar "200x200" crop="center" upscale=True as im %}
                          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                        {% endthumbnail %} 
                      </div>
                      <div class="col-md-7">
                        {{ field|addclass:"form-control" }}
                      </div>
                    </div>
                  {% else %}
                    <div class="col-md-9">                                   
                      {{ field|addclass:"form-control" }}
                    </div>
                  {% endif %}                 

                  {% if field.help_text %}
                  <small id="{{ field.text.id_for_label }}-help" class="form-text text-muted"> 
                    {{ field.help_text|safe }}
                  </small>
                  {% endif %} 
                  
                  <div class="form-error">{{ field.errors }}</div>                   

                </label>

              </div>
            {% endfor %}

            <div class="col-md-6 offset-md-4">
              <button type="submit" class="btn btn-primary">
                Сохранить данные
              </button>
            </div>

          </form>


    </div>

{% endblock content %}

